@import "bulma/bulma";

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.box {position: relative;}

.tag.is-outlined {
  border: 1px solid;
}
.is-fullwidth {
  width: 100%;
}

@include touch {
  .table {
    font-size: 12px;
    .address {
      max-width: 70px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .tag {
      background: none !important;
      border: none !important;
      padding: 0 !important;
      img {
        margin: 0 !important;
      }
      span {
        display: none;
      }
    }
  }
}