@import "bulma/bulma";

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.box {position: relative;}

.tag.is-outlined {
  border: 1px solid;
}
.is-fullwidth {
  width: 100%;
}

.address {
  word-break: break-all;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.loader {
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-color: $primary transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}