/* Import Bulma Utilities */
@import 'bulma/sass/utilities/initial-variables';
@import 'bulma/sass/utilities/functions';

$family-sans-serif: 'Lexend', sans-serif;
$family-monospace: 'Space Mono', monospace;


// Colors
$primary: #2feb2b;

$link: $primary;
$link-hover: lighten($primary, 20%);
$link-focus: lighten($primary, 20%);
$link-active: lighten($primary, 20%);

$container-max-width: 1140px;
// $title-weight: 600;
// $title-color: $primary;

// $body-line-height: 1.7;
// $button-padding-horizontal: 1.7em;
// $button-text-color: $accent;

// $dark-mode-background: #010C04;

$navbar-height: 5rem;
// $control-border-width: 2px;
// $footer-background-color: transparent;
// $input-background-color: rgba($accent, 0.08);
// $input-color: white;

// $box-color: white;
// $box-background-color: #021207;
// $label-weight: 400;

// $background-gradient: linear-gradient(180deg, rgba(18,54,3,1) 0%, rgba(10,10,10,0) 35%);

$dropdown-item-active-color: hsl(0, 0%, 10%);
$dropdown-item-active-background-color: hsl(0, 0%, 92%);

$input-icon-active-color: $primary;